<!doctype html>
<html lang="ko">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="app sidebar-show">
    <div class="app-body">
        <div class="sidebar" style="max-width: 400px;">
            <!-- Sidebar content here -->
            <% include ../partials/navigator.ejs %>
        </div>
        <main class="main">
            <!-- Main content here -->
            <% include ./main.ejs %>
        </main>
    </div>
    <% include ../partials/foot.ejs %>
</body>

</html>