<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item active">Dashboard</li>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">
      <a class="btn" href="./">
        <i class="fas fa-project-diagram"></i> &nbsp;Dashboard</a>
      <a class="btn" href="#">
        <i class="fas fa-cog"></i> &nbsp;Settings</a>
    </div>
  </li>
</ol>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Bithumb</h4>
            <div class="small text-muted">November 2017</div>
          </div>
          <div class="col-sm-7 d-none d-md-block">
            <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
              <label class="btn btn-outline-primary btn-sm">
                <input id="option1" type="radio" name="options" autocomplete="off"> Day
              </label>
              <label class="btn btn-outline-primary btn-sm active">
                <input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
              </label>
              <label class="btn btn-outline-primary btn-sm">
                <input id="option3" type="radio" name="options" autocomplete="off"> Year
              </label>
            </div>
          </div>
        </div>
        <div class="chart-wrapper" style="height:300px;margin-top:40px;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          <canvas id="lineChart" height="375" width="1522" style="display: block; height: 300px; width: 1218px; margin-top:-30px;"></canvas>
          <!-- <canvas class="chart chartjs-render-monitor" id="main-chart" height="375" width="1522" style="display: block; height: 300px; width: 1218px;"></canvas> -->
        <div id="main-chart-tooltip" class="chartjs-tooltip center" style="opacity: 0; left: 186.574px; top: 303.064px;"><div class="tooltip-header"><div class="tooltip-header-item">T</div></div><div class="tooltip-body"><div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgb(99, 194, 222);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">69</span></div><div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgb(77, 189, 116);"></span><span class="tooltip-body-item-label">My Second dataset</span><span class="tooltip-body-item-value">100</span></div><div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgb(248, 108, 107);"></span><span class="tooltip-body-item-label">My Third dataset</span><span class="tooltip-body-item-value">65</span></div></div></div></div>
      </div>
      <div class="card-footer">
        <div class="row text-center">
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Visits</div>
            <strong>29.703 Users (40%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Unique</div>
            <strong>24.093 Users (20%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Pageviews</div>
            <strong>78.706 Views (60%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">New Users</div>
            <strong>22.123 Users (80%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Bounce Rate</div>
            <strong>40.15%</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Status</div>
          <%=items.length%>
          <div class="card-body">
            <table class="table table-responsive-sm table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">Number</th>
                  <th class="text-center">Market</th>
                  <th class="text-center">Ticker price</th>
                  <th class="text-center">Ticker poll Time</th>
                  <th class="text-center">매도</th>
                  <th class="text-center">매수</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < items.length; i++) { %>
                <tr>
                  <td class="text-center"><%= items[i].id %></td>
                  <td class="text-center"><%= items[i].sell %></td>
                  <td class="text-center"><%= items[i].buy %></td>
                  <td></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
//line
var ctxL = document.getElementById("lineChart").getContext('2d');
var myLineChart = new Chart(ctxL, {
  type: 'line',
  data: {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [{
        label: "My First dataset",
        data: [65, 59, 80, 81, 56, 55, 40],
        backgroundColor: [
          'rgba(105, 0, 132, .2)',
        ],
        borderColor: [
          'rgba(200, 99, 132, .7)',
        ],
        borderWidth: 2
      },
      {
        label: "My Second dataset",
        data: [28, 48, 40, 19, 86, 27, 90],
        backgroundColor: [
          'rgba(0, 137, 132, .2)',
        ],
        borderColor: [
          'rgba(0, 10, 130, .7)',
        ],
        borderWidth: 2
      }
    ]
  },
  options: {
    responsive: true
  }
});
</script>